.inputSection{
  margin-top: 80px;
}

.selectCountryDropdown{
  float: left;
  margin-left: 20px;
}

.selectDurationSlider{
  float: left;
  margin-left: 120px;
}

.mccResultButton{
  float: left;
  margin-left: 120px;
}

.outputSection{
  float: left;
  clear: left;
  display:inline-flex;
  margin-top: 5%;
  margin-left: 5%;
}