
.sidebar {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  .sidebar-header {
    padding: 20px;
    text-align: center;
    background-color: #444;
    color: white;
  }
  
  .sidebar-main-menu {
    list-style-type: none;
    padding: 25px;
    margin: 0;
  }
  
  .sidebar-main-menu li {
    padding: 15px;
    text-align: left;
    color: white;
    font-size:large;
    cursor: pointer;
  }


  .sub-menu {
    list-style-type: none;
    padding: 5;
    margin: 0;
  }
  
  .sub-menu li {
    padding: 8px;
    text-align: left;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: medium;
  }

  .divider {
    border-color: #ccc;
  }

  .arrow-closed {
    display: inline-block;
    margin-left: 10px;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
  }

  .arrow-open {
    display: inline-block;
    margin-left: 10px;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .open .arrow-open {
    transform: rotate(90deg); 
  }

  .open .arrow-closed {
    transform: rotate(-90deg); 
  }