.inputWarEffect{
  margin-top: 80px;
}

.selectMetricTypeDropdown{
  float: left;
  margin-left: 20%;
}

.weButton{
  float: left;
  margin-left: 17%;
}

.outputWarEffectSection{
  float: left;
  display: inline-flex;
  margin-top: 5%;
  margin-left: 5%;
  width: 120%;
}